<%= form_with(model: [:admin, client]) do |form| %>
  <%= render  "shared/validation_error", object: client %>

  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= form.label :username %>
          <%= form.text_field :username, class: "form-control" %>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <%= form.label :name, 'Client name' %>
          <%= form.text_field :name, class: "form-control" %>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <%= form.label :password %>
          <%= form.password_field :password, class: "form-control" %>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <%= form.label :payout_rate %>
          <%= form.text_field :payout_rate, class: "form-control" %>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <%= form.label :password_confirmation %>
          <%= form.password_field :password_confirmation, class: "form-control" %>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <%= form.label :balance %>
          <%= form.text_field :balance, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <%= form.submit 'Save', class: "btn btn-primary" %>
  </div>
<% end %>
