<%= form_with(model: [:admin, brand]) do |form| %>
  <%= render  "shared/validation_error", object: brand %>

  <div class="card-body">
    <div class="form-group">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
<%#
    <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="exampleInputFile">
          <label class="custom-file-label" for="exampleInputFile">Choose file</label>
        </div>
        <div class="input-group-append">
          <span class="input-group-text">Upload</span>
        </div>
      </div>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> %>
  </div>

  <div class="card-footer">
    <%= form.submit 'Save', class: "btn btn-primary" %>
  </div>
<% end %>
