<section class="content" data-controller="admin--brand">
  <div class="container-fluid">
    <%= render "admin/shared/notice" %>

    <div class="row">
      <div class="col-md-12">
        <div class="float-right">
          <%= link_to admin_brands_path, class: 'btn btn-info' do %>
            <i class="fas fa-list"></i>
          <% end %>
          <%= link_to edit_admin_brand_path(@admin_brand), class: 'btn btn-primary' do %>
            <i class="far fa-edit"></i>
          <% end %>
          <%= link_to @admin_brand, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-body">
            <strong>Name</strong>
            <p class="text-muted">
              <%= @admin_brand.name %>
            </p>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
