<%= form_with(model: [:admin, product]) do |form| %>
  <%= render  "shared/validation_error", object: product %>

  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= form.label :name, 'Product name' %>
          <%= form.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= form.label :brand_id, 'Brand' %>
          <%= form.select :brand_id, options_for_select(brand_collection, form.object.brand_id), {}, { class: "form-control" } %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= form.label :status %>
          <%= form.select :status, options_for_select(enum_collection(Product, 'status'), form.object.status), {}, { class: "form-control" } %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= form.label :price %>
          <%= form.number_field :price, class: "form-control" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= form.label :usd_price, 'USD Price' %>
          <%= form.number_field :usd_price, class: "form-control" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= label_tag :currency_id, 'Currency' %>
          <%= select_tag :currency_id, options_for_select(currency_collection, currency_collection.find { |item| item[0] == product.currency }&.last), { class: "form-control" } %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= form.label :stock %>
          <%= form.number_field :stock, class: "form-control" %>
        </div>
      </div>
    </div>

    <h3>Custom fields</h3>

    <%= form.fields_for :custom_fields do |cf| %>
      <div class="form-group">
        <div class="row", data-controller="admin--product" >
          <%= cf.hidden_field :_destroy, data: { "admin--product-target": "destroy" } %>
          <div class="col-6">
            <%= cf.label :name, 'Field name' %>
            <%= cf.text_field :name, class: "form-control", data: { action: "input->admin--product#setInputDestroyStatus", "admin--product-target": "name" } %>
          </div>
          <div class="col-6">
            <%= cf.label :value,'Field value' %>
            <%= cf.text_field :value, class: "form-control", data: { action: "input->admin--product#setInputDestroyStatus", "admin--product-target": "value" } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="card-footer">
    <%= form.submit 'Save', class: "btn btn-primary" %>
  </div>
<% end %>
