<section class="content" data-controller="admin--product">
  <div class="container-fluid">
    <%= render "shared/notice" %>

    <div class="row">
      <div class="col-md-12">
        <div class="float-right">
          <%= link_to admin_products_path, class: 'btn btn-info' do %>
            <i class="fas fa-list"></i>
          <% end %>
          <%= link_to edit_admin_product_path(@product), class: 'btn btn-primary' do %>
            <i class="far fa-edit"></i>
          <% end %>
          <%= link_to [:admin, @product], data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" disabled="" value="<%= @product.name %>">
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label>Status</label>
                  <input type="text" class="form-control" disabled="" value="<%= @product.status %>">
                </div>
              </div>

            <% @product.custom_fields.each do |cf| %>
              <div class="col-sm-6">
                <div class="form-group">
                  <label><%= cf.name %></label>
                  <input type="text" class="form-control" disabled="" value="<%= cf.value %>">
                </div>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
